/* Extra small device Responsive */
@media (min-width: 320px) and (max-width: 575.98px) {
    /* common css */
    .my_btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .text p {
        font-size: 14px;
        line-height: 21px;
        text-align: justify;
    }
    /* =========================== */

    /* Navbar start */
    .navbar {
        padding: 10px 0;
        top: 0;
        background: #f2b6b0;
    }

    .navbar .navbar-nav .nav-item .nav-link img {
        display: none;
    }

    .navbar .navbar-nav {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 30px 0px;
    }

    .navbar .custom_btn {
        font-size: 16px;
        border-radius: 12px;
        padding: 12px 20px;
        width: 100%;
    }

    .navbar-toggler{
        border: 0;
    }

    .navbar-toggler i{
        color: #d50a51;
    }

    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    /* ======== Navbar End ============ */

    /* ======== Banner start ============ */
    #banner_part .banner_img img {
        display: none;
    }

    #banner_part {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    #banner_part .banner_text h2 {
        font-size: 40px;
    }

    #banner_part .banner_text h1 {
        font-size: 46px;
        margin-top: -19px;
    }

    #banner_part .banner_text p {
        font-size: 14px;
        margin: 16px 0 30px;
    }

    /* ======== Banner End ============ */

    /* ======== History start ============ */
    #history_part{
        background: #000;
        padding: 0;
    }

    #history_part .container{
        background: url(../images/History_img.png) no-repeat center / cover;
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
    }

    #history_part .container::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    #history_part .image{
        display: none;
    }

    #history_part .container .title h4 {
        color: #fff;
    }

    #history_part .container .text p {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: justify;
        margin-bottom: 0;
    }

    #history_part .title .img {
        display: none;
    }

    #history_part .title .slider_love_shape {
        display: block;
    }

    #history_part .title {
        padding: 35px 0 0 37px;
    }
    /* ======== History End ============ */

    /* ======== Gift part start ============ */
    #gift_part .gift_text {
        margin-left: 0;
    }

    #gift_part .image {
        display: none;
    }

    #gift_part .title{
        margin-bottom: 20px;
    } 

    #gift_part .title h3 {
        margin-bottom: 0px;
        font-size: 26px;
    }

    #gift_part {
        padding: 30px 0;
    }
    /* ======== Gift End ============ */

    /* ======== ticket_part start ============ */
    #ticket_part {
        padding: 25px 0 39px;
        background: url(../images/ticket_img.png) no-repeat center;
        background-size: cover;
        z-index: -11;
    }

    #ticket_part .image {
        display: none;
    }

    #ticket_part .title {
        padding: 20px 0 0 0;
        margin-bottom: 21px;
    }

    #ticket_part .title h3{
        margin-bottom: 0px;
    }

    #ticket_part .button{
        z-index: 11111;
    }
    /* ======== ticket_part End ============ */

    /* ======== offer_part start ============ */
    #offer_part {
	    padding: 18px 0 30px;
    }

    #offer_part .title h3 {
        margin-bottom: 17px;
    }

    #offer_part .services_item {
        border-right: 0px;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    }
    /* ======== offer_part End ============ */

    /* ======== capture_part start ============ */

    #capture_part {
        padding: 20px 0;
    }

    #capture_part .title {
        margin-top: 17px;
    }
    
    #capture_part .title h3 {
        font-size: 28px;
        margin-bottom: 23px;
    }

    #capture_part .text {
        margin-bottom: 24px;
    }
    
    #capture_part .row .col-lg-4:first-child{
        order: 2;
    }
    
    #capture_part .row .col-lg-4:nth-child(2){
        order: 3;
    }
    
    #capture_part .row .col-lg-4:nth-child(3){
        order: 1;
    }
    /* ======== capture_part End ============ */

    /* ======== counter_part start ============ */

    #counter_part{
        position: relative;
        z-index: 1;
    }

    #counter_part::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0000008d;
        z-index: -1;
    }

    #counter_part .main p {
        color: #ccc0c0;
    }
    /* ======== counter_part End ============ */

    /* ======== slider_part start ============ */

    #slider_part {
        padding: 43px 5px 47px;
    }

    #slider_part .main_slider .slide {
        padding: 13px 12px 14px;
    }

    #slider_part .main_slider .slide .slide_text p {
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }

    #slider_part .slick-slide img {
        width: 60px;
    }

    #slider_part .main_slider .slide .slide_text .client_deg h4 {
        font-size: 14px;
        line-height: 16px;
    }

    #slider_part .main .slider_love_shape01 {
        left: -9px;
        top: -20px;
        width: 43px;
    }

    #slider_part .main .slider_love_shape02 {
        right: -10px;
        bottom: -9px;
        width: 42px;
    }

    #slider_part .main .prev {
        left: -13px;
    }

    #slider_part .main .next{
        right: -13px;
    }
    /* ======== slider_part End ============ */

    /* ======== footer start ============ */
    footer .newsletter {
	    padding: 19px 9px;
	    border-radius: 15px;
        transform: translateY(0);
    }

    footer .newsletter .news_text {
        margin-bottom: 10px;
    }

    footer .newsletter .news_text i {
	    font-size: 18px;
    }

    footer .newsletter .news_text h2 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 0;
    }

    footer .newsletter .news_text p {
        font-size: 9px;
        line-height: 11px;
    }

    footer .newsletter {
        flex-direction: column;
    }

    footer .newsletter form {
        flex-direction: column;
        row-gap: 10px;
    }


    footer .newsletter form .input_2 {
        width: 80%;
    }

    footer .newsletter form .pepar_plane {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        right: 0;
        padding: 23px 11px;
        border: 1px solid #fff;
        height: 0;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
    }

    footer .footer_logo {
        margin-bottom: 15px;
    }

    footer .footer_logo img {
        display: inline-block;
        margin: 30px 0 20px;
    }

    footer .footer_text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 0;
    }

    footer .copyright {
        padding: 7px 0;
    }

    footer .copyright p {
        font-size: 11px;
    }

    footer .copyright span {
        font-size: 12px;
    }

    /* ======== footer End ============ */
}


/* small device Responsive */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common css */
    .my_btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .text p {
        font-size: 14px;
        line-height: 21px;
        text-align: justify;
    }
    /* =========================== */

    /* Navbar start */
    .navbar {
        padding: 10px 0;
        top: 0;
        background: #f2b6b0;
    }

    .navbar .navbar-nav .nav-item .nav-link img {
        display: none;
    }

    .navbar .navbar-nav {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 30px 0px;
    }

    .navbar .custom_btn {
        font-size: 16px;
        border-radius: 12px;
        padding: 12px 20px;
        width: 100%;
    }

    .navbar-toggler{
        border: 0;
    }

    .navbar-toggler i{
        color: #d50a51;
    }

    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    /* ======== Navbar End ============ */

    /* ======== Banner start ============ */
    #banner_part .banner_img img {
        display: none;
    }

    #banner_part {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    #banner_part .banner_text h2 {
        font-size: 63px;
    }

    #banner_part .banner_text h1 {
        font-size: 75px;
        margin-top: -31px;
    }

    #banner_part .banner_text p {
        font-size: 14px;
        margin: 16px 0 30px;
        padding: 0 22px;
    }
    /* ======== Banner End ============ */

    /* ======== History start ============ */
    #history_part{
        background: #000;
        padding: 0;
    }

    #history_part .container{
        background: url(../images/History_img.png) no-repeat center / cover;
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
    }

    #history_part .container::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    #history_part .image{
        display: none;
    }

    #history_part .container .title h4 {
        color: #fff;
    }

    #history_part .container .text p {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: justify;
        margin-bottom: 0;
    }

    #history_part .title .img {
        display: none;
    }

    #history_part .title .slider_love_shape {
        display: block;
    }

    #history_part .title {
        padding: 35px 0 0 37px;
    }
    /* ======== History End ============ */

    /* ======== Gift part start ============ */
    #gift_part .gift_text {
        margin-left: 0;
    }

    #gift_part .image {
        display: none;
    }

    #gift_part .title{
        margin-bottom: 20px;
    } 

    #gift_part .title h3 {
        margin-bottom: 0px;
        font-size: 26px;
    }

    #gift_part {
        padding: 30px 0;
    }
    /* ======== Gift End ============ */

    /* ======== ticket_part start ============ */
    #ticket_part {
        padding: 25px 0 39px;
        background: url(../images/ticket_img.png) no-repeat center;
        background-size: cover;
        z-index: -11;
    }

    #ticket_part .image {
        display: none;
    }

    #ticket_part .title {
        padding: 20px 0 0 0;
        margin-bottom: 21px;
    }

    #ticket_part .title h3{
        margin-bottom: 0px;
    }

    #ticket_part .button{
        z-index: 11111;
    }
    /* ======== ticket_part End ============ */

    /* ======== offer_part start ============ */
    #offer_part {
	    padding: 18px 0 30px;
    }

    #offer_part .title h3 {
        margin-bottom: 17px;
    }

    #offer_part .services_item {
        border-right: 0px;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    }
    /* ======== offer_part End ============ */

    /* ======== capture_part start ============ */

    #capture_part {
        padding: 20px 0;
    }

    #capture_part .title {
        margin-top: 17px;
    }
    
    #capture_part .title h3 {
        font-size: 28px;
        margin-bottom: 23px;
    }

    #capture_part .text {
        margin-bottom: 24px;
    }
    
    #capture_part .row .col-lg-4:first-child{
        order: 2;
    }
    
    #capture_part .row .col-lg-4:nth-child(2){
        order: 3;
    }
    
    #capture_part .row .col-lg-4:nth-child(3){
        order: 1;
    }
    /* ======== capture_part End ============ */

    /* ======== counter_part start ============ */

    #counter_part{
        position: relative;
        z-index: 1;
    }

    #counter_part::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0000008d;
        z-index: -1;
    }

    #counter_part .main p {
        color: #ccc0c0;
    }
    /* ======== counter_part End ============ */

    /* ======== slider_part start ============ */

    #slider_part {
        padding: 43px 5px 47px;
    }

    #slider_part .main_slider .slide {
        padding: 13px 12px 14px;
    }

    #slider_part .main_slider .slide .slide_text p {
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }

    #slider_part .slick-slide img {
        width: 60px;
    }

    #slider_part .main_slider .slide .slide_text .client_deg h4 {
        font-size: 14px;
        line-height: 16px;
    }

    #slider_part .main .slider_love_shape01 {
        left: -9px;
        top: -20px;
        width: 43px;
    }

    #slider_part .main .slider_love_shape02 {
        right: -9px;
        bottom: -21px;
        width: 42px;
    }

    #slider_part .main .prev {
        left: -13px;
    }

    #slider_part .main .next{
        right: -13px;
    }
    /* ======== slider_part End ============ */

    /* ======== footer start ============ */
    footer .newsletter {
	    padding: 19px 9px;
	    border-radius: 15px;
        transform: translateY(0);
    }

    footer .newsletter .news_text {
        margin-bottom: 10px;
    }

    footer .newsletter .news_text i {
        font-size: 26px;
    }

    footer .newsletter .news_text h2 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 0;
    }

    footer .newsletter .news_text p {
        font-size: 9px;
        line-height: 11px;
    }

    footer .newsletter {
        flex-direction: column;
    }

    footer .newsletter form {
        flex-direction: row;
        column-gap: 10px;
    }


    footer .newsletter form .input_2 {
        width: 80%;
    }

    footer .newsletter form .pepar_plane {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        right: 0;
        padding: 23px 11px;
        border: 1px solid #fff;
        height: 0;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
    }

    footer .footer_logo {
        margin-bottom: 15px;
    }

    footer .footer_logo img {
        display: inline-block;
        margin: 30px 0 20px;
    }

    footer .footer_text {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 18px 0;
    }

    footer .follow .icon {
        column-gap: 32px;
    }

    footer .copyright {
        padding: 7px 0;
    }

    footer .copyright p {
        font-size: 11px;
    }

    footer .copyright span {
        font-size: 12px;
    }

    /* ======== footer End ============ */
}

/* Medium device Responsive */
@media (min-width: 768px) and (max-width: 991.98px){
   /* common css */
    .my_btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .text p {
        font-size: 14px;
        line-height: 21px;
        text-align: justify;
    }
    /* =========================== */

    /* Navbar start */
    .navbar {
        padding: 10px 0;
        top: 0;
        background: #f2b6b0;
    }

    .navbar .navbar-nav .nav-item .nav-link img {
        display: none;
    }

    .navbar .navbar-nav {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 30px 0px;
    }

    .navbar .custom_btn {
        font-size: 16px;
        border-radius: 12px;
        padding: 12px 20px;
        width: 100%;
    }

    .navbar-toggler{
        border: 0;
    }

    .navbar-toggler i{
        color: #d50a51;
    }

    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    /* ======== Navbar End ============ */

    /* ======== Banner start ============ */
    #banner_part .banner_img img {
        display: block;
    }

    #banner_part {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    #banner_part .banner_img img {
        width: 100%;
        margin: 0;
    }

    #banner_part .banner_text h2 {
        font-size: 63px;
    }

    #banner_part .banner_text h1 {
        font-size: 61px;
        margin-top: -28px;
    }

    #banner_part .banner_text p {
        font-size: 16px;
        margin: 16px 0 30px;
        padding: 0 22px;
        text-align: justify;
    }
    /* ======== Banner End ============ */

    #history_part{
        background: #000;
        padding: 0;
    }

    #history_part .container{
        background: url(../images/History_img.png) no-repeat center / cover;
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
    }

    #history_part .container::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    #history_part .image{
        display: none;
    }

    #history_part .container .title h4 {
        color: #fff;
    }

    #history_part .container .text p {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: justify;
        margin-bottom: 0;
    }

    #history_part .title .img {
        display: none;
    }

    #history_part .title .slider_love_shape {
        display: block;
    }

    #history_part .title {
        padding: 35px 0 0 37px;
    }
    /* ======== History End ============ */

    /* ======== Gift part start ============ */
    #gift_part .gift_text {
        margin-left: 0;
    }

    #gift_part .image {
        display: none;
    }

    #gift_part .title{
        margin-bottom: 20px;
    } 

    #gift_part .title h3 {
        margin-bottom: 0px;
        font-size: 26px;
    }

    #gift_part {
        padding: 30px 0;
    }
    /* ======== Gift End ============ */

    /* ======== ticket_part start ============ */
    #ticket_part {
        padding: 25px 0 39px;
        background: url(../images/ticket_img.png) no-repeat center;
        background-size: cover;
        z-index: -11;
    }

    #ticket_part .image {
        display: none;
    }

    #ticket_part .title {
        padding: 20px 0 0 0;
        margin-bottom: 21px;
    }

    #ticket_part .title h3{
        margin-bottom: 0px;
    }

    #ticket_part .button{
        z-index: 11111;
    }
    /* ======== ticket_part End ============ */

    /* ======== offer_part start ============ */
    #offer_part {
	    padding: 18px 0 30px;
    }

    #offer_part .title h3 {
        margin-bottom: 17px;
    }

    #offer_part .services_item {
        border-right: 0px;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    }
    /* ======== offer_part End ============ */

    /* ======== capture_part start ============ */

    #capture_part {
        padding: 20px 0;
    }

    #capture_part .title {
        margin-top: 17px;
    }
    
    #capture_part .title h3 {
        font-size: 28px;
        margin-bottom: 23px;
    }

    #capture_part .text {
        margin-bottom: 24px;
    }
    
    #capture_part .row .col-lg-4:first-child{
        order: 2;
    }
    
    #capture_part .row .col-lg-4:nth-child(2){
        order: 3;
    }
    
    #capture_part .row .col-lg-4:nth-child(3){
        order: 1;
    }
    /* ======== capture_part End ============ */

    /* ======== counter_part start ============ */

    #counter_part{
        position: relative;
        z-index: 1;
    }

    #counter_part::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0000008d;
        z-index: -1;
    }

    #counter_part .main p {
        color: #ccc0c0;
    }
    /* ======== counter_part End ============ */

    /* ======== slider_part start ============ */

    #slider_part {
        padding: 43px 10px 47px;
    }

    #slider_part .main_slider .slide {
        padding: 13px 12px 14px;
    }

    #slider_part .main_slider .slide .slide_text p {
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }

    #slider_part .slick-slide img {
        width: 60px;
    }

    #slider_part .main_slider .slide .slide_text .client_deg h4 {
        font-size: 14px;
        line-height: 16px;
    }

    #slider_part .main .slider_love_shape01 {
        left: -9px;
        top: -20px;
        width: 43px;
    }

    #slider_part .main .slider_love_shape02 {
        right: -9px;
        bottom: -21px;
        width: 42px;
    }

    #slider_part .main .prev {
        left: -13px;
    }

    #slider_part .main .next{
        right: -13px;
    }
    /* ======== slider_part End ============ */

    /* ======== footer start ============ */
    footer .newsletter {
	    padding: 19px 9px;
	    border-radius: 15px;
        transform: translateY(0);
    }

    footer .newsletter .news_text {
        margin-bottom: 10px;
    }

    footer .newsletter .news_text i {
        font-size: 26px;
    }

    footer .newsletter .news_text h2 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 0;
    }

    footer .newsletter .news_text p {
        font-size: 9px;
        line-height: 11px;
    }

    footer .newsletter {
        flex-direction: column;
    }

    footer .newsletter form {
        flex-direction: row;
        column-gap: 10px;
    }


    footer .newsletter form .input_2 {
        width: 80%;
    }

    footer .newsletter form .pepar_plane {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        right: 0;
        padding: 23px 11px;
        border: 1px solid #fff;
        height: 0;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
    }

    footer .footer_logo {
        margin-bottom: 15px;
    }

    footer .footer_logo img {
        display: inline-block;
        margin: 30px 0 20px;
    }

    footer .footer_text {
        display: flex;
        column-gap: 7px;
        justify-content: center;
        align-items: center;
    }

    footer .footer_text h3 {
        font-size: 13px;
    }

    footer .follow .icon {
        column-gap: 32px;
    }

    footer .copyright {
        padding: 7px 0;
    }

    footer .copyright p {
        font-size: 11px;
    }

    footer .copyright span {
        font-size: 12px;
    }

    /* ======== footer End ============ */
}
     
/* large device Responsive */
@media (min-width: 922px) and (max-width: 1199.98px){
     /* =========================== */
 
     /* Navbar start */
     .navbar {
        padding: 0 20px;
    }
     /* ======== Navbar End ============ */
 
     /* ======== Banner start ============ */
     #banner_part {
        padding: 140px 20px 20px;
    }

     #banner_part .banner_img img {
        margin-left: 0px;
        width: 100%;
    }
     /* ======== Banner End ============ */

     /* ======== History start ============ */
     
    #history_part {
        padding: 53px 20px 20px;
    }
     
    #history_part .image img {
        width: 100%;
        margin-top: 42px;
    }
     

    #history_part .title h3 {
        margin-bottom: 25px;
    }

    #history_part .text p {
        margin-bottom: 0px;
        text-align: justify;
    }
     /* ======== History End ============ */

     /* ======== Gift part start ============ */
     #gift_part {
         padding: 30px 20px;
     }
 
     #gift_part .image img {
        width: 100%;
        transform: scale(1.2);
        position: absolute;
        left: -73px;
        bottom: -16px;
    }
 
     #gift_part .title{
         margin-bottom: 20px;
     } 
 
     #gift_part .title h3 {
         margin-bottom: 0px;
         font-size: 26px;
     }
 
     /* ======== Gift End ============ */
 
     /* ======== ticket_part start ============ */
     #ticket_part {
        padding: 51px 15px 35px;
    }
 
    #ticket_part .image img {
        width: 90%;
        margin: 70px 0 0 71px;
    }
 
     #ticket_part .title {
         padding: 20px 0 0 0;
         margin-bottom: 21px;
     }
 
     #ticket_part .title h3{
         margin-bottom: 0px;
     }
 
     #ticket_part .button{
         z-index: 11111;
     }
     /* ======== ticket_part End ============ */
 
     /* ======== offer_part start ============ */
     #offer_part {
        padding: 18px 17px 30px;
    }
     #offer_part .text p {
        margin-bottom: 11px;
        text-align: justify;
    }
 
     #offer_part .title h3 {
        font-size: 29px;
        text-align: justify;
    }
 
     #offer_part .services_item {
         border-right: 0px;
         box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
     }

     #offer_part .services_item p {
        text-align: justify;
    }
     /* ======== offer_part End ============ */
 
     /* ======== capture_part start ============ */
 
     #capture_part {
         padding: 20px;
     }

     #capture_part .my_btn {
	font-size: 17px;
	padding: 14px 18px 13px;
}
 
     #capture_part .title {
         margin-top: 17px;
     }
     
     #capture_part .title h3 {
        font-size: 27px;
        margin-bottom: 23px;
    }
 
     #capture_part .text {
         margin-bottom: 24px;
     }
     /* ======== capture_part End ============ */

     /* ======== slider_part start ============ */
 
     #slider_part {
         padding: 43px 20px 100px;
     }
 
 
     #slider_part .main_slider .slide .slide_text p {
         text-align: justify;
     }
 

 
     #slider_part .main .slider_love_shape01 {
        left: -19px;
        top: -32px;
        width: 65px;
    }
 
    #slider_part .main .slider_love_shape02 {
        right: -21px;
        bottom: -32px;
        width: 65px;
    }
 
     #slider_part .main .prev {
         left: -13px;
     }
 
     #slider_part .main .next{
         right: -13px;
     } 
     /* ======== slider_part End ============ */
 
     /* ======== footer start ============ */
    footer{
        padding: 0 20px;
    }

    footer .newsletter {
         padding: 19px 50px;
     }
 
     footer .newsletter .news_text i {
         font-size: 30px;
     }
 
     footer .newsletter .news_text h2 {
         font-size: 26px;
         line-height: 26px;
         margin-bottom: 0;
     }
 
     footer .newsletter .news_text p {
         font-size: 11px;
         line-height: 11px;
     }
 
     footer .footer_logo {
         margin-bottom: 25px;
     }
 
     footer .footer_logo img {
         display: inline-block;
         margin: 30px 0 20px;
     }

     footer .follow .icon {
         column-gap: 50px;
     }
     /* ======== footer End ============ */
}